<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    {% include meta.html %}

    	<link rel="stylesheet" href="{{ site.baseurl }}/style_base.css">
	<link rel="stylesheet" media="screen and (min-width: 280px)" href="{{ site.baseurl }}/styles.css">
	<link rel="stylesheet" media="screen and (max-width: 600px)" href="{{ site.baseurl }}/stylesSmall.css">
	<link rel="stylesheet" media="print" href="{{ site.baseurl }}/styles.css">
	<link rel="stylesheet" media="print" href="{{ site.baseurl }}/print.css">
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
	<link rel="me" href="https://mastodon.lol/@rjjiii">


  </head>

  <body>
	  <header>
	<a 
	rel="author"
	id="site_heading"
	href="{{ site.baseurl }}/"
	role="banner"
	>
		Robert Jones
	</a>
		<nav>
		<ul>
			<li><a href="{{ site.baseurl }}/tools" {% if page.nav-tab == "tools" %} id="selected" {% endif %}>
				tools</a></li>
			<li><a href="{{ site.baseurl }}/words" {% if page.nav-tab == "words" %} id="selected" {% endif %}>
				words</a></li>
			<li><a href="{{ site.baseurl }}/about" {% if page.nav-tab == "about" %} id="selected" {% endif %}>
				about</a></li>
		</ul>
		</nav>
</header>

	  
	  
<main>
    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
		<small>



&copy; 2022 Robert Jones<br />
{% if page.license == "OSL" %}
<copy-left></copy-left> Code on this page is available under the <a href="{{ site.baseurl }}/license/">Open Software License version 3.0.</a>
{% endif %}
</small>
        </footer>
      </div>
    </div>
</main>
	  

<!-- 
	The "b-gap" tags can create extra white space at the bottom of some pages.
-->
	<b-gap> &nbsp; </b-gap>

<!--
	The script "small.js" will modify a page below a certain screen resolution 
	to compress lists like the Table of Contents.
-->
<script src="{{ site.baseurl }}/phone.js"></script>
	  
	  
  </body>
</html>
