<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    {% include meta.html %}

    <link rel="stylesheet" href="style_base.css">
	<link rel="stylesheet" media="screen and (min-width: 280px)" href="styles.css">
	<link rel="stylesheet" media="screen and (max-width: 600px)" href="stylesSmall.css">
	<link rel="stylesheet" media="print" href="styles.css">
	<link rel="stylesheet" media="print" href="print.css">

  </head>

  <body>
	  <header>
	<a 
	rel="author"
	id="site_heading"
	href="{{ site.baseurl }}/"
	role="banner"
	>
		Robert Jones
	</a>
		<nav>
		<ul>
			<li><a href="tools.html">
				tools</a></li>
			<li><a href="words.html" id="selected">
				words</a></li>
			<li><a href="{{ site.baseurl }}/about">
				about</a></li>
		</ul>
		</nav>
</header>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
